@import "colorsInkside.css";
@import "forms.css";

body{
   background-color: #edf2f6; }

.fixed-sidebar{
  position: fixed;
  width: 250px;
  z-index: 22;
  min-height: 1000vh;}

.fixed-sidebar-left {
    position: absolute;
    height: 100%;
    background-color: #fff;
    width: 250px;}

.logo-inkside{
  padding: 10px 5px;
  height: 70px;}

header{
  height: 70px;
  background-color: #208d8f;
  padding-right: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 21;
  margin-left: 250px;}

.profile{
  margin-top:10px;}

.profile img{
  height: 50px;}

.profile span{
  margin-right: 10px;}

.profile i{
  margin-left: 10px;}

.profile span, .profile i{
  position: relative;
  top: -20px;
  color: #fff;}

.dropdown-content{
  top:70px !important;}

#wrap-container{
  margin-left: 250px;
  padding-top: 70px;}


#wrap-container .container-fluid{
  width: 95%;}

#wrap-container .container-fluid .panel{
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #e6ecf5;
  margin-bottom: 20px;
}

.bg-account{
  background-image: url("../images/background-banner/top-header3-min.png");}

.main-header {
    padding: 70px 0 190px 0;
    position: relative;
    background-position: 50% 50%;}

.fixed-sidebar .mCustomScrollbar{
    max-height: calc(100vh - 70px);
}

.left-menu li{
  margin: 0;
  padding: 20px;
  transition: 0.6s;
  color: #3D464D;
  text-transform: uppercase;
  font-family: "Roboto Condensed"
}

.left-menu li:hover{
  background-color:#F0F0DD;
}

#menuPoet{
  min-width: 230px !important;
  box-shadow: none;
  border-radius: 0 0 10px 10px;
  background: #0a6d78;
}

#menuPoet li a{
  color: #edf2f6;
}

#menuPoet li:hover{
  background-color:#409ca7;
  transition: 0.2s;
}

.wrap-panes{
  display: flex;
  margin-top: 30px;
}

.panel .collection{
  border-top: 1px solid #e6ecf5 !important;
  border-bottom: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  margin-top:0;
  margin-bottom: 5px;
  font-size: 13px;
}

.panel .collection-item .title {
  font-weight: bold;
  font-family: "Roboto Condensed";
  font-size: 15px !important;
  color: #515365;
}
.panel .panel-title{
  min-height: 60px;
  align-items: center;
  display: flex;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto Condensed";
  color: #515365;
}

.panel .add-poet{
  font-size: 15px;
}

.collection .collection-item.avatar{
  min-height: inherit;
}
