@import "colorsInkside.css";
@import "forms.css";

body{
   background-color: #edf2f6; }

.fixed-sidebar{
  position: fixed;
  width: 250px;
  z-index: 22;
  min-height: 1000vh;}

.fixed-sidebar-left {
    position: absolute;
    height: 100%;
    background-color: #fff;
    width: 250px;}

.logo-inkside{
  padding: 10px 5px;
  height: 70px;}

header{
  height: 70px;
  background-color: #208d8f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 21;
  margin-left: 250px;}

.profile{
  margin-top:10px;}

.profile img{
  height: 50px;}

.profile span{
  margin-right: 10px;}

.profile i{
  margin-left: 10px;}

.profile span, .profile i{
  position: relative;
  top: -20px;
  color: #fff;}

.dropdown-content{
  top:70px !important;}

#wrap-container{
  margin-left: 250px;
  padding-top: 70px;}


#wrap-container .container-fluid{
  width: 95%;}

#wrap-container .container-fluid .panel{
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #e6ecf5;
  margin-bottom: 20px;
  position: relative;
}

.bg-account{
  background-image: url("../images/background-banner/top-header3-min.png");}

.main-header {
    padding: 70px 0 190px 0;
    position: relative;
    background-position: 50% 50%;}

.fixed-sidebar .mCustomScrollbar{
    max-height: calc(100vh - 70px);
}

.left-menu li{
  margin: 0;
  padding: 20px;
  transition: 0.6s;
  color: #3D464D;
  text-transform: uppercase;
  font-family: "Roboto Condensed"
}

.left-menu li:hover{
  background-color:#F0F0DD;
}

#menuPoet{
  min-width: 230px !important;
  box-shadow: none;
  border-radius: 0 0 10px 10px;
  background: #0a6d78;
}

#menuPoet li a{
  color: #edf2f6;
}

#menuPoet li:hover{
  background-color:#409ca7;
  transition: 0.2s;
}

.wrap-panes{
  display: flex;
  margin-top: 30px;
}

.panel .collection{
  border-top: 1px solid #e6ecf5 !important;
  border-bottom: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  margin-top:0;
  margin-bottom: 5px;
  font-size: 13px;
}

.panel .collection-item .title {
  font-weight: bold;
  font-family: "Roboto Condensed";
  font-size: 15px !important;
  color: #515365;
}
.panel .panel-title{
  min-height: 60px;
  align-items: center;
  display: flex;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto Condensed";
  color: #515365;
}

.panel .add-poet{
  font-size: 15px;
}

.collection .collection-item.avatar{
  min-height: inherit;
}

.panel .icon-message{
  width: 60px;
  height: 60px;
  border-radius: 8px 0 0 8px;
  color: #fff;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.panel.message{
  min-height: 60px;
  display: flex;
  align-items: center;
}

.panel.message p{
  padding: 0 10px;
  color: #b0bec5;
}

.post__author img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 12px;
}

.post .post__author-name {
    font-weight: 700;
    margin-bottom: 0;
}

.inline-items > * {
    display: inline-block;
    vertical-align: middle;
}

.poem .post__author{
  padding: 15px;
}

.post__content{
  font-family: "Roboto";
  font-size: 15px;
  padding: 0 32px 0 20px;
  color: #686c82;
  text-align: justify;
  border-top: 1px solid #e6ecf5 !important;
  min-height: 230px;
}

.post__content h3{
  font-size: 30px;
  font-family: "Lato Light";
  text-transform: uppercase;
  text-align: center;
}
.post__aditional{
  padding:10px 20px;
  border-top: 1px solid #e6ecf5 !important;
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.post__aditional .pic-profiles{
  float: left;
}
 .post__aditional .user-likes ul{
   display: inline-flex;
   margin: 0 20px 0 0;;
 }
 .post__aditional .user-likes ul li{
   margin-right: -15px;
 }
 .post__aditional .user-likes ul li img{
   width: 35px;
   border-radius: 100%;
   border: 1px solid #fff;
 }

 .post__aditional .poets-like{
   font-size: 12px;
 }

 .control-button{
   position: absolute;
   right: -15px;
 }

 .control-button li{
   background: #b7c9d8;
   height: 35px;
   width: 35px;
   border-radius: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
   margin-bottom: 5px;
 }

 .control-button a:hover >  li{
   background-color: #4db6ac;
   transition: 0.2s;
 }

 .poem-create{
   height: 300px;
   background: #9C1A82;
   color: #fff;
 }
 .poem-create div{
 }

 .poem-create div h4{
   margin: 0;
  font-size: 30px;
  font-family: "Roboto Condensed";
 }
 .poem-create{
   padding: 50px 15px 0 15px;
 }

 .poem-create i{
   display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin-bottom:30px;
 }

 .poem-create .btn-link{
  position: relative;
  padding: 7px 20px;
  background-color: #eceff1;
  top: 20px;
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  font-weight: bold;
  color: purple;
  transition: 0.3s;
  border-radius: 3px;
 }

 .poem-create .btn-link:hover{
   background: #520e45;
   color: #ffF;
   transition: 0.3s;
 }

 .panel.followers{
   margin-top: 20px;
 }

 .followers .panel-title{
   border-bottom: 1px solid #e6ecf5 !important;
 }

 .followers ul{
   display: block;
   padding: 20px;
 }

 .followers ul li{
   width: 40px;
   height: 40px;
   display: inline-flex;
 }

 .followers ul li img{
   width: 100%;
 }
 .search form{
   margin-top: 12px;
 }
 .search label, .search input{
   display: inline-flex;
 }

 .search label{
   color: #fff;
    font-size: 15px;
    font-family: "Roboto Condensed";
    margin-right: 10px;
 }

 .search input[type="text"]{
   width: 500px;
    border: none;
    background-color: #0a6d78;
    border-radius: 4px;
    color: #eee;
    padding: 5px 30px 5px 5px;
    box-sizing: border-box;
    margin-right: -30px
 }

.comments form{
    border-top: 1px solid #e6ecf5 !important;
    margin-bottom: 0;
}
.comments{
  border-radius: 8px 8px 0 0 !important;

}
.comments form textarea{
  height: 200px;
  border: none;
  background: #c5d1da;
  padding: 15px;
  color: white;
  margin-bottom: -10px;
}

.comments form textarea::-webkit-input-placeholder { color: white; } /* WebKit */
.comments form textarea:-moz-placeholder { color: white; } /* Firefox 18- */
.comments form textarea::-moz-placeholder { color: white; } /* Firefox 19+ */
.comments form textarea:-ms-input-placeholder { color: white; } /* IE 10+ */

h5.title{
  font-family: "Lato";
}

.header-section{
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  display: inline;
}

.dropdown-content{
  left: initial !important;
  right: 10px;
}

.card-button i{
  font-size: 50px;
  margin-right: 20px;
}

.card-button span{
  font-size: 25px;
}

.card-button .valign-wrapper{
  display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-dataTable #dataGrid_filter{
  margin-right: 7px;
  margin-bottom: 10px;
}
.wrap-dataTable input[type="search"]{
  background-color: #f5f5f5 !important;
  border-radius: 6px !important;
  padding: 0 10px;
}

.wrap-dataTable table thead{
  background-color: #6f8293;
  color: #edf2f6;
}

tr.odd {
    background-color: #f5f5f5 !important;
  }

#content .col.m6.s12{
  min-height: 410px !important;
}

.jqte{
  border:1px solid #d6d6d6 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  margin-bottom: 0 !important;
}

.jqte_editor, .jqte_source{
  min-height: 250px !important;
  background-color: #fafafa !important;
}

.jqte_tool.jqte_tool_1 .jqte_tool_label{
  height: 25px !important;
}

#categorias  label{
  padding-left: 30px !important;
}
